.top-navigation {
	background: white;
	width: 100%;
	height: 70px;
}

.content {
	max-width: 960px;
	height: 70px;
	text-align: center;
}

.links > li {
	list-style: none;
	display: inline;
	float: right;
}