.top-navigation {
    background-color: #fffff;
    height: 4.375rem;
}
.top-navigation < .content {
	width: 60.625em;
	height: 4.375em;
	margin: 0 auto;
}
.top-navigation < .content < .logo {
	margin-left: 0.875em;
}



