html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
  background: white;
  width: 100%;
}

.top-navigation > .content {
  width: 73rem;
  height: 3em;
  margin: 0 auto;
  padding: 0 0.938em;
}

.top-navigation .links {
  list-style: none;
  float: right;
  color: #838994;
  font-size: 1.050em;
  margin-top: 1.688em;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-left: 0em; 
  margin-right: 0.9em;
}

.top-navigation .links li {
  display: inline;
  margin-left: 1.563em;
}

.top-navigation .logo {
  height: 3rem;
  margin-top: 0.6em;
  margin-left: 0.5em;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
  margin-right: 0.3em;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
    background-image: url('../Images/first-background.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    width: 100%;
    overflow: auto;
}

.introduction > .content {
    text-align: center;
    overflow: auto;
    margin-top: 170px;
}

.introduction h1,
.introduction h3 {
   color: white;
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
   font-weight: 300;  
}

.introduction h1 {
    font-size: 3.125rem;
    padding-top: 0em;
}

.introduction h3 {
    margin-top: 1.75rem;
    font-size: 1.563rem;
}

button {
    margin:0 auto;
    width: 9.688rem;
    background-color: #f15a29;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    border-style: none;
    border-radius: 4px;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.product-description {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding-bottom: 2rem;
}

.devices {
    list-style: none;
}

.devices li {
    display: inline-block;
    font-size: 1.25rem;
    margin: 2.5rem 1.5rem 1.875rem;
}

.product-description h2 {
    font-size: 2.75rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
}

.product-description h3 {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
}

.content > .devices {
    margin-right: 5.5rem;
}

.refill {
    padding-left: 1em;
}

.product-description .content {
    margin-top: 8.5rem;
    padding: none;
    text-align: center;
}

.media-links {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    height: 12em;
}

.media-links > .content h5 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
}

hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 0 auto;
    max-width: 75%;
}

.media-links li {
    display: inline-block;
    cursor: pointer;
    border-radius: 3rem;
    width: 3.0rem;
    height: 3.0rem;
    margin: 0.5em 2em 0.5em 0;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.twitter {
    color: #55acee;
}

.facebook {
    color: #4c66a4;
}

.instagram {
    color: #3f729b;
}
.copyright {
    padding-bottom: 100px;
}

.copyright p {
    text-align: center;
    color: #778899;
    font-size: 16px;
}